APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=bootcampgoberber

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=fastfeet

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=127.0.0.1
REDIS_POST=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=81621233097fd
MAIL_PASS=ffe094356e98d53

# Sentry

SENTRY_DSN=https://ba24345416560b9ac4498e77c4480@sentry.io/2162571
