<strong>Olá, {{ deliveryman  }}</strong>
<p>Você recebeu uma nova solicitação de entrega, confira os detalhes abaixo: </p>

<p>
  <strong>Destinatário: </strong> {{  recipient }} <br/>
  <strong>Produto: </strong> {{ product }} <br/>
  <br/>
  <strong>O produto já está disponível para a retirada.</strong>
  <br/>
  <br/>
  <small>Acesse a plataforma para vizualizar detalhes.</small>
</p>
